.icons {
    width: 15px;
    height: 15px;
    background: rgb(255, 0, 0);
    cursor: pointer;
    margin: 2px 0px 2px 40px;
}

small {
    margin-top: 10px;
    display: none;
    justify-content: center;
    font-size: 8px;
}

span{
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    color: rgb(255, 38, 0);
    margin: 0px 2px 0px 2px;
}

h1 {
    text-align: center;
}

ul {
    text-align: center;
    padding: 0;
}

li {
    display: inline-flex;
    margin: 2px;
    border: 2px brown solid;
    border-radius: 2px;
    padding: 0px 4px 0px 4px;
    box-shadow: inset 1px 3px 7px 0px rgb(80 50 50 / 35%);
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-left: 3px;
    box-shadow: inset 0px 0px 20px 8px #000000;
    border-color: rgba(73, 63, 63, 0.609);
    border-radius: 2px;
}

p {
    margin: 0;
    color: white;
}

body {
    background: whitesmoke;
}